<p id="notice"><%= notice %></p>

<div class="page-header text-center">
  <h1><%= @user.username %>'s pins</h1>
</div>

<div class='container'>
  <% @user.pins.each do |pin| %>
    <div class="well">
      <h3><%= link_to pin.title, pin %></h3>
      <p>author: <%= pin.user.username %></p>
      <p>published: <%= local_time(pin.created_at) %></p>
    </div>
  <% end %>
</div>
<br>
